<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6 white-wrapper">
      <h1><%= @restaurant.name %> <small><%= link_to 'Edit', edit_restaurant_path %> | <%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: {confirm: "Delete #{@restaurant.name}?"}  %></small></h1>
      <hr>
      <p><strong>Details:</strong></p>
      <p>Address: <%= @restaurant.address %></p>
      <% if @restaurant.phone_number %>
        <p>Phone number: <%= @restaurant.phone_number %></p>
      <% end %>
      <p>Category: <%= @restaurant.category %></p>
      <hr>
      <p><strong>Reviews:</strong></p>
      <% @restaurant.reviews.each do |review| %>
        <p><%= review.content %></p>
      <% end %>
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: (0..5), class: "form-control" %>
        <%= f.submit "Add a review", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
